{% extends "layout.html" %}

{% block content %}

<div class="pt-12 sm:pt-16 lg:pt-20">
    <h2 class="text-3xl font-extrabold tracking-tight text-gray-900 sm:text-4xl">
    This is an article
    </h2>
    <div class="mt-6 space-y-6 text-base leading-7 text-gray-500">
    <p>
        Selain dibayar secara profesional sebagai seorang software developer dan mengajar
        di sebuah universitas swasta, di waktu luar saya menulis kode program
        (aplikasi &amp; pustaka) lalu merilisnya ke publik dibawah lisensi Open Source.
    </p>
    <p>
        Beberapa diantaranya antara lain: Varlet, ElisaCP, dan pustaka-pustaka untuk
        PHP (terutama Laravel). Kamu bisa menemukan kode sumbernya di
        <a href="https://github.com/riipandi" target="_blank" rel="noreferrer noopener" class="text-yellow-600 hover:text-yellow-900">
            Github
        </a>
    </p>
    <p>
        Terkadang saya menulis artikel di blog, tulisan umum saya tulis di blog
        <a href="https://insomniastory.com" target="_blank" rel="noreferrer noopener" class="text-yellow-600 hover:text-yellow-900">
        Insomnia Story</a>, sedangkan artikel yang bersifat teknis saya tulis
        <a href="https://kataris.id/jurnal" class="text-yellow-600 hover:text-yellow-900">disini</a>.
        Oiya, kadang saya bercerita di podcast Kataris &amp; Insomnia Story juga berbagi screencast di kanal <a href="https://bit.ly/aristube" target="_blank" rel="noreferrer noopener" class="text-yellow-600 hover:text-yellow-900">Youtube</a>.
    </p>
    </div>
</div>

{% endblock content %}
