{% extends "layout.html" %}
{% block content %}
<h1 class="font-extrabold tracking-tight text-gray-900 text-4xl mt-8 lg:mt-0 sm:text-5xl lg:text-6xl">Ira Horecka</h1>
<p class="mt-6 text-xl leading-8 text-gray-500">
  Hello, I'm Ira. I enjoy computer programming and will join a PhD program at the University of Toronto to study computational biology.
</p>
<div class="pt-12 sm:pt-16 lg:pt-20">
  <h2 class="text-3xl font-extrabold tracking-tight text-gray-900 sm:text-4xl">About me</h2>
  <div class="mt-6 space-y-6 text-base leading-7 text-gray-500">
    <p>
      I live in Mountain View, CA and work as a lab automation engineer at a biotech firm.
      My educational background is in biochemistry & molecular biology. I started programming almost 3 years ago and have enjoyed it since.
    </p>
    <p>
      There was a period in time when I worked as a research associate (RA). I wondered, "How do I break out of the RA title?
      Did I study a rigorous curriculum to become adept at pipetting?" Before I delve further, I do not intend to undermine RAs,
      as the career is fulfilling in its own light.
    </p>
    <p>
      My twin brother, who is a software engineer, encouraged me to take up programming, so I did. I improved my skillset and eventually
      transitioned into an engineering career. I strive to go beyond programming liquid handlers, which is why I'm pursuing a higher
      education in computational biology - to merge my academic background with my passion in software development.
    </p>
  </div>
</div>
<div class="pt-9 sm:pt-12 lg:pt-15">
  <h2 class="text-3xl font-extrabold tracking-tight text-gray-900 sm:text-4xl">Do I step away from my computer?</h2>
  <div class="mt-6 space-y-6 text-base leading-7 text-gray-500">
    <p>
      Yes! I enjoy refurbishing bicycles and bass fishing when I'm away from my computer. These hobbies are frustrating and fulfilling,
      which is a common emotional elixir in any activity with a learning curve; and when things go according to plan, the world is briefly
      wonderful.
    </p>
  </div>
</div>
{% endblock content %}
