<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
      <meta name="description" content="Automated Enrichment worklist generator">
      <meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0'>
      <link rel="stylesheet" href="{{ url_for('static', filename='css/tailwind-cards.css') }}">
      {% assets 'css' -%}
      <link rel="stylesheet" href="{{ ASSET_URL }}">
      {%- endassets %}
      <link rel="stylesheet" href="{{ url_for('static', filename='css/fork-awesome/fork-awesome.min.css') }}">
      <link rel="stylesheet" href="{{ url_for('static', filename='css/nav.css') }}">
      <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
      <script src="https://code.iconify.design/1/1.0.7/iconify.min.js"></script>
      <script src="{{ url_for('static', filename="external/jquery-3.5.1.min.js") }}"></script>
      <script defer src="{{ url_for('static', filename="external/headroom-0.9.4.js") }}"></script>
      <script defer src="{{ url_for('static', filename="js/nav.js") }}"></script>
      <title>{{ content.title }}</title>
   </head>
   <body class="bg-white font-sans">
      <header class="header header--fixed" role="banner">
         <nav class="site-nav site-header max-w-7xl m-auto">
            <div class="nav-left">
               <a href="/" class="title hover:text-yellow-600">irahorecka.com</a>
            </div>
            <div class="nav-right">
               <a href="/" class="hover:text-yellow-600">home</a>
               <a href="/api" class="hover:text-yellow-600">api</a>
               <a href="/projects" class="hover:text-yellow-600">projects</a>
               <a href="javascript:void(0);" class="nav-toggle">☰</a>
            </div>
         </nav>
      </header>
      <div class="container px-8 pt-8 pb-16 mt-0 lg:mt-16 flex flex-col lg:flex-row m-auto">
         <div class="flex flex-row lg:flex-col content-between w-32 lg:w-48 mt-0 lg:mr-16">
            <img src="{{ url_for('static', filename=['images/{}'.format(content.profile_img)]) }}" class="p-1 border-1 w-full h-32 xl:h-48 rounded-full shadow-lg">
            <div class="text-left text-base lg:text-lg m-auto lg:mt-9 ml-6 lg:ml-2">
               <ul>
                  <li>
                     <a class="font-medium inline-flex" href="https://github.com/irahorecka" rel="noopener noreferrer" target="_blank" onclick="this.blur();">
                        <img src="{{ url_for('static', filename="images/github.svg") }}" class="fa-icon m-auto mr-2">
                        GitHub
                     </a>
                  </li>
                  <li>
                     <a class="font-medium inline-flex" href="https://www.linkedin.com/in/ira-horecka-3a8877128/" rel="noopener noreferrer" target="_blank" onclick="this.blur();">
                        <img src="{{ url_for('static', filename="images/linkedin.svg") }}" class="fa-icon linkedin-blue max-h-4 m-auto mr-2">
                        LinkedIn
                     </a>
                  </li>
               </ul>
            </div>
         </div>
         <div class="flex flex-col blog max-w-3xl">
            <h1 class="font-extrabold tracking-tight text-gray-900 text-4xl mt-6 lg:mt-0 sm:text-5xl lg:text-6xl">{{ content.header.first }}</h1>
            <p class="mt-6 text-xl leading-8 text-gray-500">{{ content.body.first }}</p>
            {%- block content -%}
            {%- endblock content -%}
         </div>
      </div>
      <footer class="site-footer">
         <p>
            <!-- <small>Made with ❤️ by Ira Horecka</small> -->
         </p>
      </footer>
   </body>
</html>
