<!DOCTYPE html>
<html lang="en">
<!-- Why hello there, Mrs. SneakyPants ಠ‿ಠ -->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="description" content="Automated Enrichment worklist generator">
  <meta
      name='viewport'
      content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0'
  />
  <link rel="stylesheet" href="{{ url_for('static', filename='external/bootstrap-4.4.1/css/bootstrap.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='external/mvp.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='latolatinfonts.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  <link class="img-fluid rounded-circle float-left mr-2" rel="shortcut icon" type="image/png" href="{{ url_for('static', filename='images/personalis.png') }}">
  <script src="{{ url_for('static', filename="/external/jquery-3.5.1.min.js") }}"></script>
  <script defer src="{{ url_for('static', filename="/external/bootstrap-4.4.1/js/bootstrap.min.js") }}"></script>
  <title>{{ title }}</title>
</head>
<body>
  <header>
      <nav>
        Nav
      </nav>
  </header>
  <main>

    {%- block content -%}
    {%- endblock content -%}

  </main>
  <footer>
    <p>
      <small>Made with ❤️ by the Personalis Automation Team</small>
    </p>
  </footer>
</body>
</html>
