/* CSS for Ira's website */

body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    padding-top: 55px;
    overflow-anchor: none;
}

/*===== START Main =====*/

select {
    -webkit-appearance: none;
}

th+th {
    width: 75px
}

/* For `.github-*` view irahorecka/templates/projects.html */
a.github-link:active,
a.github-link:focus {
    color: #000000;
    opacity: 1;
}

.fixed-head {
    position: sticky;
    top: 0;
    z-index: 1
}

.border-1 {
    border-width: 1px
}

.github-stars {
    content: url('https://api.iconify.design/octicon:star-16.svg?height=16');
}

.github-forks {
    content: url('https://api.iconify.design/octicon:repo-forked-16.svg?height=16');
}

.github-icon {
    vertical-align: -0.125em;
    margin-top: 5.6px;
    margin-left: -1px;
    margin-right: 4px;
}

.fa-icon {
    height: 16px;
    width: 16px;
}

.linkedin-blue {
    filter: invert(34%) sepia(96%) saturate(4202%) hue-rotate(181deg) brightness(92%) contrast(101%)
}

/*===== END Main =====*/

/*===== START Footer =====*/

/*===== END Footer =====*/
