/* CSS for Ira's website */

body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    padding-top: 55px;
}

/*===== START Main =====*/

/*===== END Main =====*/

/*===== START Footer =====*/

/*===== END Footer =====*/
